.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: white;
}

.header__left {
    position: inherit;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__center > input {
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 10px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 40px;
}

@media only screen and (max-width: 990px) {
    .header {
        justify-content: space-around;
    }

    .header__left {
        display: none;
        position: fixed;
        visibility: collapse;
    }

    .header__icon {
        display: none;
        position: fixed;
    }
    
    .header > a {
        display: none;
        position: fixed;
    }

    .header__center {
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    .header__right {
        display: none;
    }
}

@media only screen and (min-width: 991px) {
    .header__left {
        position: inherit;
        display: inherit;
    }

    .header__icon {
        visibility: visible;
    }

    .header > a {
        visibility: visible;
    }
}